*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
} 
body{
    background-color: black;
    color: white;
}  
:root{
    --green: rgb(131 167 47);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 8px 8%;
    align-items: center;
    justify-content: space-around;
    transition: all 0.40s ease;
    z-index: 1;
}
header nav {
    margin-top: 0.5%;
    list-style: none;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    float: right;
}

header nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    
}
header nav li a:hover{
    background-color: rgb(131 167 47);
    box-shadow: 4px 3px 11px 1px white;
    border-radius: 10px;
}
header  .logo2 {
    margin-top: 0.5%;
    height: 30px;
    width: 30px;
    margin-left: 5PX;
}
header .logo3{
    margin-top: 0.5%;
    height: 18px;
    width: 130px;
}
#menu-icon{
    font-size: 36px;
    color: var(--green);
    z-index: 10002;
    cursor: pointer;
    display: none;
}


section{
    padding: 160px 16% 90px;
    z-index: 0;
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background:url(img/8.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.home .contain h1{
    margin: 10px 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}
 h1 .span{
    color: rgb(131 167 47);
}
.home .contain h4{
    color:rgb(131 167 47);
    font-size: 24px;
    font-weight: 600;
}
.home .contain h3{
    font-size: 24px;
    font-weight: 600;
    bottom: 3rem;
}
.btn{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    background: var(--green);
    color: white;
    border: 1px solid white;
    transition: all 0.40s ease;
}
.btn:hover{
    transform: scale(1.01) translateY(2.5px);
    background: azure;
    color: black;
    box-shadow: -1px 6px 11px 0px #fdcc42;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    height: 100vh;
}
.about .about-img img{
    height: auto;
    width: 115%;
    max-width: 400px;
    background-size: cover;   
}
.about-txt h4{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--green);
}
.about-txt h2{
    font-size: 15px;
}
.about-txt p{
    color: #9E9E9E;
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 15px;
}
.about-gri{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
.about-in{
    font-size: 15px;
    font-weight: bold;
}

.main-txt{
    text-align: center;
}
.main-txt h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.main-txt h4{
    color: var(--green);
    font-size: 24px;
    font-weight: 600;
}
.services-content{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.services-content .box img{
    height: 10vh;
    width: 60%;
    max-width: 400px;
    background-size: cover; 
}
.box{
    padding: 15px;
    background: #12141c;
    border-top: 5px solid transparent;
    transition: all 0.40s ease;
    cursor: pointer;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition:  all 0.40 ease;
}
.box p{
    color: rgb(171, 171, 171);
    font-size: 10px;
    line-height: 30px;
}
.box:hover{
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--green);
}
.box:hover h3{
    color:#c6a852;
}
.portfolio{
    text-align: center;
}
.portfolio h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.portfolio h4{
    color: var(--green);
    font-size: 24px;
    font-weight: 600;
}
.portfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.row img{
    height: auto;
    width: 100%;
    max-width: 400px;
    background-size: cover;   
    border-radius: 15px;
}
.row{
    padding: 25px;
    background: #12141c;
    border-radius: 15px;
}
.row:hover{
    transform: scale(1.01) translateY(-10px);
    cursor: pointer;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.row h3{
    font-size: 15px;
    font-weight: 700;
}
.row h6{
    color: var(--green);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.row-icon{
    margin: 10px 0;
    width: 10%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
}
.contact-txt h2{
    font-size: 30px;

}
.contact-txt h4{
    margin: 15px 0;
    color: var(--green);
    font-size: 20px;
    font-weight: 800;
}
.contact-txt p{
    color: #9E9E9E;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li a{
    display: block;
    color: #9e9e9edd;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-3px);
    color: #c6a852;
}
.contact-icons img {
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.40s ease;
}
.contact-icons img:hover{
   transform: scale(1.01) translateY(-5px);
   box-shadow: -2px -1px 15px 4px #c6a852;
}

.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    background: #12141c;
    color: var(--green);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    font-size: 17px;
    background: var(--green);
    color: white;
    width: 170px;
    transition: all 0.40s ease;
    cursor: pointer;
}
.contact-form form .send:hover{
    background: white;
    color: black;
    box-shadow: -1px 6px 11px 0px #fdcc42;
    transform: scale(1.01) translateX(15px);
}
.last-txt p {
    text-align: center;
    padding: 1px;
    color: #c6a852;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top img{
    width: 70%;
    border-radius: 5px;
}
.top img:hover{
    width: 80%;
    box-shadow:  -1px 6px 11px 0px #fdcc42; 
    border-radius: 15px;
}


@media(max-width:970px){
    :root{
        --h1-font: 4.2rem;
        --h2-fonr : 2.9rem;
        --p-font : 1.1rem;
        }
        section{
            padding: 0%90p 3% 60px;
        }
        .home{
            height: 85px;
        }
        .about{
            grid-template-columns: 1fr;
        }
        .about-img{
            text-align: center;
        }
        .contact{
            grid-template-columns: 1fr;
        }
}
@media(max-width:830px){
    #menu-icon{
        display: block;
        float: right;

    }
    .navbar{
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 80%;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all 0.40s ease;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.936;
        border-radius: 20px;
    }
    .navbar a{
        display: block;
        padding: 0.5rem;
        margin: 1rem;
    }
    .navbar.active{
        top: 100%;
    }
}
